<div class="container">

  <!-- Button trigger modal -->
  <button type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          style="margin-top: 20px"
          data-bs-target="#addressModal">
    Добавить адрес
  </button>

  <!-- Modal -->
  <div class="modal fade"
       id="addressModal"
       tabindex="-1"
       aria-labelledby="addressModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="addressModalLabel">Добавление адреса</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <label for="cityName">Город</label>
          <input id="cityName"
                 class="form-control"
                 type="text"
                 #cityNameInput
          />
          <label for="addressName">Адрес</label>
          <input id="addressName"
                 class="form-control"
                 type="text"
                 #addressNameInput
          />
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
                  data-bs-dismiss="modal"
                  (click)="add()">Сохранить</button>

          <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

</div>
<ng-content></ng-content>
