<div class="container">
  <!-- Button trigger modal -->
  <button type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          style="margin-top: 20px"
          data-bs-target="#usersModal">
    Добавить пользователя
  </button>

  <!-- Modal -->
  <div class="modal fade"
       id="usersModal"
       tabindex="-1"
       aria-labelledby="usersModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="usersModalLabel">Добавление пользователя</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <label for="username">Логин</label>
          <input id="username"
                 class="form-control"
                 type="text"
                 #userNameInput
          />

          <label for="password">Пароль</label>
          <input id="password"
                 class="form-control"
                 type="password"
                 #passwordInput
          />

          <label for="firstName">Имя</label>
          <input id="firstName"
                 class="form-control"
                 type="text"
                 #firstNameInput
          />

          <label for="lastName">Фамилия</label>
          <input id="lastName"
                 class="form-control"
                 type="text"
                 #lastNameInput
          />

          <label for="email">E-mail</label>
          <input id="email"
                 class="form-control"
                 type="email"
                 #emailInput
          />

          <label for="departments">Список департаментов</label>
          <select id="departments" class="form-control" #departmentSelect>
            <option *ngFor="let department of departments">{{department.name}}</option>
          </select>

          <label for="positions">Список должностей</label>
          <select id="positions" class="form-control" #positionSelect>
            <option *ngFor="let position of positions">{{position.name}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
                  data-bs-dismiss="modal"
                  (click)="add()">Сохранить</button>

          <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 20px">
  <table class="table caption-top table-bordered table-striped table-hover">
    <caption>Список пользователей</caption>
    <thead>
    <tr>
      <td>#</td>
      <td>Логин</td>
      <td>Имя</td>
      <td>Фамилия</td>
      <td>E-mail</td>
      <td>Департамент</td>
      <td>Регион</td>
      <td>Должность</td>
      <td>Действия</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>
        <input type="text" class="form-control" #username (keyup)="filter(
           username.value, firstName.value, lastName.value, email.value,
           departmentName.value, regionName.value, positionName.value
        )">
      </td>
      <td>
        <input type="text" class="form-control" #firstName (keyup)="filter(
           username.value, firstName.value, lastName.value, email.value,
           departmentName.value, regionName.value, positionName.value
        )">
      </td>
      <td>
        <input type="text" class="form-control" #lastName (keyup)="filter(
           username.value, firstName.value, lastName.value, email.value,
           departmentName.value, regionName.value, positionName.value
        )">
      </td>
      <td>
        <input type="text" class="form-control" #email (keyup)="filter(
           username.value, firstName.value, lastName.value, email.value,
           departmentName.value, regionName.value, positionName.value
        )">
      </td>
      <td>
        <input type="text" class="form-control" #departmentName (keyup)="filter(
           username.value, firstName.value, lastName.value, email.value,
           departmentName.value, regionName.value, positionName.value
        )">
      </td>
      <td>
        <input type="text" class="form-control" #regionName (keyup)="filter(
           username.value, firstName.value, lastName.value, email.value,
           departmentName.value, regionName.value, positionName.value
        )">
      </td>
      <td>
        <input type="text" class="form-control" #positionName (keyup)="filter(
           username.value, firstName.value, lastName.value, email.value,
           departmentName.value, regionName.value, positionName.value
        )">
      </td>
      <td></td>
    </tr>
    <!-- (dblclick) - событие при двойном клике -->
    <tr *ngFor="let user of users; let idx = index"
        style="cursor: pointer">
      <td (dblclick)="navigate(user)">{{idx + 1}}</td>
      <td (dblclick)="navigate(user)">{{user.username}}</td>
      <td (dblclick)="navigate(user)">{{user.firstName}}</td>
      <td (dblclick)="navigate(user)">{{user.lastName}}</td>
      <td (dblclick)="navigate(user)">{{user.email}}</td>
      <td (dblclick)="navigate(user)">{{user.department.name}}</td>
      <td (dblclick)="navigate(user)">{{user.department.region.name}}</td>
      <td (dblclick)="navigate(user)">{{user.position.name}}</td>
      <td>
        <app-menu>
          <li><a class="dropdown-item" [routerLink]="[user.username]">Редактировать</a></li>
          <li><a class="dropdown-item" (click)="delete(user)">Удалить</a></li>
        </app-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>
