<div class="container">
  <!-- Modal -->
  <div class="modal fade"
       id="usersModal"
       tabindex="-1"
       aria-labelledby="usersModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="usersModalLabel">Редактирование пользователя</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <label for="username">Логин</label>
          <input id="username"
                 class="form-control"
                 type="text"
                 [(ngModel)]="editUser.username"
          />

          <label for="password">Пароль</label>
          <input id="password"
                 class="form-control"
                 type="password"
                 [(ngModel)]="editUser.password"
          />

          <label for="firstName">Имя</label>
          <input id="firstName"
                 class="form-control"
                 type="text"
                 [(ngModel)]="editUser.firstName"
          />

          <label for="lastName">Фамилия</label>
          <input id="lastName"
                 class="form-control"
                 type="text"
                 [(ngModel)]="editUser.lastName"
          />

          <label for="email">E-mail</label>
          <input id="email"
                 class="form-control"
                 type="email"
                 [(ngModel)]="editUser.email"
          />

          <label for="departments">Список департаментов</label>
          <select id="departments" class="form-control">
            <option *ngFor="let department of departments">{{department.name}}</option>
          </select>

          <label for="positions">Список должностей</label>
          <select id="positions" class="form-control">
            <option *ngFor="let position of positions">{{position.name}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
                  data-bs-dismiss="modal"
                  (click)="save()">Сохранить</button>

          <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 18rem; margin-top: 20px" *ngIf="user">
      <div class="card-body">
        <h5 class="card-title">
          {{user.firstName + " " + user.lastName}}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
        <p class="card-text">Email: {{user.email}}</p>
        <p class="card-text">Департамент: {{user.department.name}}</p>
        <p class="card-text">Должность: {{user.position?.name}}</p>
        <!-- атрибут routerLink для перехода -->
        <div>
          <input class="btn btn-primary"
                 type="button"
                 data-bs-toggle="modal"
                 data-bs-target="#usersModal"
                 value="Редактировать">
        </div>
        <div style="margin-top: 20px">
          <a routerLink="/users" class="card-link">Назад</a>
        </div>
      </div>
    </div>
  </div>
</div>
