<div class="container">
  <button type="button"
          class="btn btn-primary"
          style="margin-top: 20px"
          data-bs-toggle="modal"
          data-bs-target="#positionModal">
    Добавить должность
  </button>
  <app-modal [id]="modalId"
             [title]="modalTitle"
             [fields]="positionFields"
             [service]="positionService"></app-modal>
</div>
<div class="container" style="margin-top: 20px">
  <table class="table caption-top table-bordered table-striped table-hover">
    <caption>Список должностей</caption>
    <thead>
    <tr>
      <td>#</td>
      <td>Название</td>
      <td>Действия</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let position of positions; let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{position.name}}</td>
      <td>
        <app-menu>
          <!--<li><a class="dropdown-item" [routerLink]="[user.username]">Редактировать</a></li>
          <li><a class="dropdown-item" (click)="delete(user)">Удалить</a></li>-->
        </app-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>
