.content {
  background: white;
  width: 500px;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 10px 5px 5px lightgrey;
  margin-top: 25px;
}

.content-mobile {
  width: 100%;
}

.mt-16 {
  margin-top: 16px;
}

.c-red {
  color: red;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}
