<div class="content" [ngClass.lt-sm]="'content-mobile'">
  <form>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Login page</h2>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Введите логин">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Введите пароль">
    </div>
    <div fxLayout="column" fxLayoutAlign="center end">
      <button (click)="login()" type="button" class="btn btn-primary">Логин</button>
    </div>
  </form>
</div>
